<ion-content [fullscreen]="true"> 

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/icon/Logo_DuocUC.svg.png" alt="Texto alternativo de la imagen" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="contenedor">
  
  <ion-input label="Usuario" label-placement="floating" fill="solid" placeholder="Ingresar usuario" style="color: rgb(230, 229, 229); "></ion-input>
<br />
<ion-input label="Contraseña" label-placement="floating" fill="solid" placeholder="Ingresar contraseña" style="color: rgb(230, 229, 229);"> </ion-input>


<ion-button expand="block">Iniciar</ion-button>
<ion-button expand="full">Recuperar contraseña</ion-button>
</div>

</ion-content>

